.con{
	width:100%;
	height:100%;
	overflow:hidden;
	display: -webkit-box;
	display: box;
	-webkit-box-orient:vertical;
}
.con header{
	width:100%;
	height:50px;
	background-color: #009B85;
	color:#fff;
	font-size:16px;
	position: relative;
}
.con header img{
	height:30px;
	position: absolute;;
	top:10px;
	left:2%;
}
.con header .left{
	font-size:18px;
	color:#fff;
	height:30px;
	line-height:30px;
	position: absolute;
	left:20%;
	top:10px;
}

.con header .right{
	font-size:18px;
	color:#fff;
	height:30px;
	line-height:30px;
	position: absolute;
	top:10px;
	right:5%;
}
.con header .right a{
	text-decoration:none;
	color:#fff;
}
.con section{
	width:100%;
    -webkit-box-flex:1;/*弹性盒布局*/
}
section ul{
	width:100%;
	height:45px;
}
section ul li{
	height:45px;
	line-height:45px;
	padding-left:5%;
	color:gray;
	border-bottom:1px solid #ddd;
}


section dl{
	position: relative;
	height:45px;
	border-bottom:1px solid #ddd;
}
section dl:first-child{
	margin-top:10px;
}
section dl dt,section dl dd{
	float:left;
}
section dl dt{
	font-size:16px;
	color:#000;
	margin-left:5%;
	margin-top:12px;
}
section dl dd{
	color:#000;
    margin-left:5%;
}
section dl dd input{
	border:none;
	outline:none;
	width:100%;
	height:30px;
	line-height: 30px;
	font-size:14px;
    margin-top:5px;
}
section .login{
	width:92%;
	margin-left:4%;
	margin-top:5px;
	border:none;
	outline:none;
	border-radius:3px;
	height:40px;
	line-height:40px;
	text-align: center;
	font-size:16px;
	color:#fff;
	background-color:  #009B85;
}
.clear{
	clear:both;/*清除浮动*/
}