<ion-view view-title="{{chat.name}}">
	<ion-nav-bar class="bar-stable hide">
    </ion-nav-bar> 
	<ion-content class="classdetailscon" id="classdetailscon">
	    <header>
	        <img class="fanhui" src="img/fanhui.png" ng-click="back1()" />
	        <p>课题基本信息</p>
	    </header>
	    <section>
	    	<div class="banner">
	    		<img src="img/photo10.jpg" />
	    	</div>
	    	<ul>
	        	<li>
	        		
	        		<img src="img/shengchandanwei.png" />
		        	<p>课题编号:</p>
	        		
	        	</li>
	        	<li>
	        		<img src="img/picihao.png" />
	        		<p>课题名称:</p>
	        	</li>
	        	<li>
	        		<img src="img/pinzhong.png" />
	        		<p>使用单位:</p>
	        	</li>
	        	<li>
	        		<img src="img/pinxi.png" />
	        		<p>伦理审查号:</p>
	        	</li>
	        	<li>
	        		<img src="img/shuliang.png" />
	        		<p>申请人通信类型:</p>
	        	</li>
	        	<li>
	        		<img src="img/shuliang.png" />
	        		<p>课题描述:</p>
	        	</li>
	        	
	        </ul>
	    </section>
	</ion-content>
</ion-view>
