<ion-view view-title="{{chat.name}}">
	<ion-nav-bar class="bar-stable hide">
    </ion-nav-bar> 
	<ion-content class="bigbox" id="bigbox">
	    <header>
	        <div class="imgcontent">
		        <img src="img/photo10.jpg" />
	        </div>
	    </header>
	    <section>
	        <div class="content">
		         <h3>景物质量管理系统</h3>
	        </div>
	        <div class="contentthree" id="contentthree">
	        	<ul>
	        		<li>
	        			<a href="#/myClass">
	        				<div class="fa fa-home"></div>
	        			    <p>我的课题</p>
	        			</a>
	        		</li>
	        		<li>
	        			<div class="fa fa-music"></div>
	        			<p>个人信息</p>
	        		</li>
	        	</ul>
	        </div>
	        
	        <a href="#/"><p class="back">返回至登录页面</p></a>
	    </section>
	</ion-content>
</ion-view>