<ion-view view-title="{{chat.name}}">
	<ion-nav-bar class="bar-stable hide">
		
    </ion-nav-bar> 
	<ion-content class="companycon" id="companycon">
	    <header>
	        <img class="fanhui" src="img/fanhui.png" ng-click="back1()" />
	        <div class="input_select"></div>
	        <input type="text" class="text" placeholder="单位名称检索" />
	        <select>
	        	<option>单位</option>
	        	<option selected="selected">品种</option>
	        </select>
	        <img class="saoyisao" src="img/saoyisao.png" />
	    </header>
	    <section>
	    	<div class="btns">
	    		<button>生产单位信息</button>
	    		<button>使用单位信息</button>
	    	</div>
	    	<ul>
	        	<li>
	        		
	        		<div class="fa fa-home"></div>
		        	<p>单位名称:北京植物教研中心</p>
	        	</li>
	        	<li>
	        		<div class="fa fa-music"></div>
	        		<p>单位地址:北京市海淀区苏州街</p>
	    
	        	</li>
	        	<li>
	        		<div class="fa fa-tachometer"></div>
	        		<p>联系方式:010-675647</p>
	        		
	        	</li>
	        	<li>
	        		<div class="fa fa-minus-circle"></div>
	        		<p>联系人:孙经理</p>
	        		
	        	</li>
	        	<li>
	        		<div class="fa fa-search"></div>
	        		<p>单位名称:北京植物教研中心</p>
	        		
	        	</li>
	        	<li>
	        		<div class="fa fa-search-plus"></div>
	        		<p>单位地址:北京市海淀区苏州街</p>
	        		
	        	</li>
	        	<li>
	        		<div class="fa fa-search-minus"></div>
	        		<p>联系方式:</p>
	        		
	        	</li>
	        	<li>
	        		<div class="fa fa-comments"></div>
	        		<p>联系人:010-675647</p>
	   
	        	</li>
	        	
	        </ul>
	    </section>
	</ion-content>
</ion-view>
