<ion-view view-title="{{chat.name}}">
	<ion-nav-bar class="bar-stable hide">
		<h3></h3>
    </ion-nav-bar> 
	<ion-content class="listcon" id="listcon">
	    <header>
	        <img class="fanhui" src="img/fanhui.png" ng-click="back1()" />
	        <div class="input_select"></div>
	        <input type="text" class="text" placeholder="订单号" />
	        <img class="saoyisao" src="img/saoyisao.png" />
	    </header>
	    <section>
	        <ul>
	        	<li>
	        		
	    			<img src="img/shengchandanwei.png" />
	        		<p>植物品种:兰花</p>
	        		
	        	</li>
	        	<li>
	        		<img src="img/picihao.png" />
	        		<p>品系:粉红色系</p>
	        		
	        	</li>
	        	<li>
	        		<img src="img/pinzhong.png" />
	        		<p>等级:一等</p>
	        		
	        	</li>
	        	<li>
	        		<img src="img/pinxi.png" />
	        		<p>日龄:200天</p>
	        		
	        	</li>
	        	<li>
	        		<img src="img/shuliang.png" />
	        		<p>数量:200株</p>
	        		
	        	</li>
	        </ul>
	        <input type="button" class="queren" value="确认接收" />
	    </section>
	</ion-content>
</ion-view>
