<ion-view view-title="{{chat.name}}">
	<ion-nav-bar class="bar-stable hide">
    </ion-nav-bar> 
	<ion-content class="bigbox" id="bigbox">
	    <header>
	        <div class="imgcontent">
		        <img src="img/photo10.jpg" />
	        </div>
	    </header>
	    <section>
	        <div class="content">
		         <h3>景物质量管理系统</h3>
	        </div>
	        <div class="contentfive" id="contentfive">
	        	<ul>
	        		<li>
	        			<a href="#/classFlowerInfo">
	        				<div class="fa fa-home"></div>
	        			    <p>信息管理</p>
	        			</a>
	        		</li>
	        		<li>
	        			<a href="#/feedingRoom">
		        			<div class="fa fa-user"></div>
		        			<p>培养室管理</p>
	        			</a>
	        		</li>
	        		<li>
	        			<a href="#/list">
	        				<div class="fa fa-music"></div>
	        			    <p>接受的订单</p>
	        			</a>
	        		</li>
	        		<li>
	        			<a href="#/longweihao">
	        				<div class="fa fa-home"></div>
	        			    <p>植物处理</p>
	        			</a>
	        		</li>
	        	</ul>
	        </div>
	        <a href="#/"><p class="back">返回至登录页面</p></a>
	    </section>
	</ion-content>
</ion-view>