*{
	margin:0px;
	padding:0px;
}
html,body{
	width:100%;
	height:100%;
}
.companycon{
	width:100%;
	height:100%;
	display: box;
	display: -webkit-box;
	-webkit-box-orient: vertical;
	top:0px;
}
.companycon header{
	width:100%;
	height:44px;
	background-color: #2C89E6;
	position: relative;
}
.companycon header .fanhui{
	position: absolute;
	width:9%;
	left:1%;
	top:5px;
}
.companycon header input{
	height:30px;
	width:45%;
	position:absolute;
	left:20%;
	top:5px;
	background-color: transparent;
	border:1px solid lightgray;
	border-radius:5px 0px 0px 5px;
	color:#70C2FF;
}
.companycon header select{
	position: absolute;
	left:65%;
	top:5px;
	height:30px;
	background-color:transparent;
	border:1px solid lightgray;
	border-radius:0px 5px 5px 0px;
	color:#70C2FF;
}
.companycon header .saoyisao{
	width:9%;
	position: absolute;
	right:2%;
	top:5px;
}
.companycon section{
	width:100%;
	height:524px;
	/*background-color: #99CDFF;*/
}
.companycon section .btns{
	width:100%;
	height:50px;
	/*background-color: lightpink;*/
}
.companycon section .btns button{
	height:30px;
	width:100px;
	margin-left:5px;
	border-radius:5px;
	color:#2C89E6;
	margin-top:10px;
	outline:none;
	border:none;
	border:1px solid #2C89E6;
	background-color: transparent;
}
.companycon section ul{
	width:100%;
	list-style: none;
}
.companycon section ul li{
	width:100%;
	height:50px;
	position: relative;
	border-bottom:1px solid #EFEFF4;
}
.companycon section ul li img{
	width:30px;
	position: absolute;
	left:2%;
	top:10px;
}
.companycon section ul li div{
	width:30px;
	position: absolute;
	height:30px;
	left:2%;
	top:10px;
	line-height:30px;
	text-align:center;
	color:lightgray;
	font-size:18px;
}
.companycon section ul li p{
	color:lightgray;
	position: absolute;
	left:15%;
	top:12px;
}


